* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.picture4 {
  display: inline-grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

body {
}

.form {
  direction: rtl;
  text-align: center;
  padding-top: 20px;
  width: 613px;
  height: 852px;
  background-color: #8e097c;
}
.form h1 {
  font-size: 35px;
  color: white;
}

.form p {
  margin-top: 30px;
  font-size: 25px;
  color: white;
}

label {
  color: #0ee1da;
}

input {
  background-color: #e5eeff;
  margin: 10px;
  width: 500px;
  height: 60px;
  border: none;
  border-bottom: 5px solid #0ee1da;
}

#content {
  width: 500px;
  height: 172px;
  margin: 10px;
  border: none;
  border-bottom: 5px solid #0ee1da;
}
.btn {
  margin: 5px;
}

.btn button {
  background-color: #0ee1da;
  width: 501px;
  height: 60px;
  text-align: center;
  color: #011560;
  font-size: 24px;
}
